{% extends "auctions/layout.html" %}
{% block body %}


<div class="card-columns">
    {% for listing in Listings %}

    <div class="card" style="width: 18rem;">
        <a href="{% url 'listing' listing.pk %}" class="btn">
            <h5 class="card-header text-left">{{listing.title}}</h5>
            <img class="card-img-top" src="{{ listing.image_url }}">
            <div class="card-body">
                <h2 class="card-text text-success bold"> ₹ {{ listing.price }}</h2>
                <p class="card-text text-left">{{ listing.description }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
