{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="card-columns">
     {% for listing in listings %}
     <div class="card">
          <a href="{% url 'listing' listing.pk %}" class="btn">
               <h5 class="card-header text-center bold">{{listing.title}}</h5>
               <img class="card-img-top" src="{{listing.image_url}}" alt="Card Image">
               <div class="card-body">
                    <h2 class="card-text text-success bold">₹ {{ listing.price }}</h2>
                    <p class="card-text">{{ listing.description }}</p>
               </div>
          </a>
     </div>
     {% endfor %}
</div>
{% endblock %}
